/* style.css */

:root {
    --color: #333333;
    --background-color: #f0f0f0;
    --background-color-accent: #f4f4f4;
    --border: 1px solid #bfbfbf;
    --box-shadow: 0 2px 4px gray;
}

.dark-mode {
    --color: #f0f0f0;
    --background-color: #161616;
    --background-color-accent: #1e1e1e;
    --border: 1px solid #888888;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: medium;
    overflow-y: scroll;
    color: var(--color);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main {
    background-color: var(--background-color);
    flex: 1;
}

header {
    background-color: #333333;
    color: #f0f0f0;
    text-align: center;
    padding: 0.5rem;
}

footer {
    margin-top: 1rem;
    background-color: #333333;
    color: #f0f0f0;
    text-align: center;
}

button {
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    box-sizing: border-box;
    cursor: pointer;
    touch-action: manipulation;
    pointer-events: auto;
    font-size: medium;
    border: none;
}

a {
    color: #20a7cd;
}

a:visited {
    color: #761ddc;
}

ul {
    /* list-style: none; */
    /* padding: 0; */
    /* margin: 0; */
    color: inherit; /* dummy */
}

li {
    margin-bottom: 1rem;
}

p {
    margin: 0;
}

input, textarea {
    background-color: var(--background-color-accent);
    border: var(--border);
    border-radius: 3px;
    box-sizing: border-box;
    font-size: medium;
}

textarea {
    resize: none;
    font-family: inherit;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.space {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.a-btn, .a-btn-large, .a-btn-header {
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: #444444;
    text-decoration: none;
    color: white;
    cursor: pointer;
    touch-action: manipulation;
}

.a-btn:hover {
    background-color: #666666;
    box-shadow: none;
}

.a-btn:visited, .a-btn-large:visited, .a-btn-header:visited {
    color: white;
}

.a-btn-large {
    font-size: x-large;
}

.a-btn-header {
    border-radius: 0px;
    background-color: #333333;
    color: white;
    padding: 0.6rem 1rem;
}

.bg {
    background-color: var(--background-color);
}

.bg-accent {
    background-color: var(--background-color-accent);
}

.shadow {
    box-shadow: var(--box-shadow);
    box-sizing: border-box;
}

.padding-1 {
    padding: 1rem;
}

.padding-side-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.width-full {
    width: 100%;
}

.width-max-30 {
    max-width: 30rem;
}

.text-center {
    text-align: center; /* this will be inherited */
}

/* hidden must be last */
.hidden {
    display: none;
}

@media screen and (min-width: 60rem) {
    .flex-column-center {
        max-width: 30rem;
        min-width: 30rem;
        margin-left: auto;
        margin-right: auto;
    }
}
